.DS_STORE
node_modules
.flowconfig
.grunt
build/
dist/
coverage/
.module-cache
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo
*.log
.eslintcache
*.tsbuildinfo
*.tgz